@model IEnumerable<HowToWebApplication.Models.ArticlesCustomClass>



<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">

<script src="~/Scripts/datatableLib/datatableCustomScript.js"></script>


<style>
    .btn {
        margin-top: 5px;
    }

    #btnCreateAsset {
        float: right;
        margin-top: 15px;
    }

    #headerTags {
        margin-left: -1rem;
        width: 100%;
    }

    #selectDropdown, #headerTags {
        display: inline-block;
    }
</style>


<div id="headerTags">
    <p>
        <a href="@Url.Action("CreateArticles", "Admin")" id="btnCreateAsset" title="@Resources.Global.Create" data-toggle="modal" class="btn btn-primary btn-md modal-form">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> @Resources.Global.Create 
        </a> 
    </p>
    <div id="selectDropdown">
        @Html.DropDownList("Id", (List<SelectListItem>)ViewBag.Cats, "-- Select a Category --", new { @onchange = "CallChangefunc(this.value)", @class = "form-control" })
    </div>
</div>
<br />
<br />
@using (Html.BeginForm("MultiDelete", "Admin", FormMethod.Post))
{
    <table class="table table-striped table-bordered" id="table" style="width:100%">
        <thead>
            @*<table class="table" id="table" style="width:100%">*@
            <tr>
                <th>
                    <input type="submit" value="@Resources.Global.Delete" onclick="return confirm('are you sure')" class="btn btn-danger btn-sm" />
                    <input type="checkbox" id="checkBoxAll" style=" display: block; margin-top: 10px;" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainImagesList)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsBlocked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ratings)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categories)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="checkBoxId" value="@item.Id" name="articleId" style="margin-top: 10px;" />
                    </td>
                    <td>
                        @{var counter = 0;}
                        @if (item.MainImagesList.Count() != 0)
                        {
                            foreach (var pic in item.MainImagesList)
                            {
                                    counter++;
                                    <div id="mainPic">
                                        <img src="@Url.Content(pic.url)" style=" width: 50px; height:50px;" />
                                    </div>
                                }
                            if (counter == 0)
                            {
                                <div id="mainPic">
                                    <img src="/images/NoImage.png" style=" width: 50px; height:50px;" />
                                </div>
                            }
                        }
                        else
                        {
                            <div id="mainPic">
                                <img src="/images/NoImage.png" style=" width: 50px; height:50px;" />
                            </div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsBlocked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.name)  @Html.DisplayFor(modelItem => item.User.surname)
                    </td>
                    <td>
                        @if (item.Ratings.Count() != 0)
                        {

                            @Html.DisplayFor(modelItem => item.Ratings.Average(e => e.rating))
                            break;
                        }
                        else
                        {
                            <p>---------</p>
                        }
                    </td>
                    <!--გამოსაცდელია-->
                    <td>
                        @foreach (var category in item.Categories)
                            {   
                              <p>@category.name</p>
                            }
                    </td>
                    <td>
                        <a href="@Url.Action("EditArticles", "Admin", new { id = item.Id })" title="@Resources.Global.Edit" class="btn btn-success btn-sm modal-form">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>

                        <a href="@Url.Action("ArticlesDetails", "Admin", new { id = item.Id })" title="@Resources.Global.Details" class=" btn btn-info btn-sm modal-data">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>

                        <a href="@Url.Action("DeleteArticle", "Admin", new { id = item.Id })" title="@Resources.Global.Delete" class="btn btn-danger btn-sm delete-data">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>


                        @if (!item.IsBlocked)
                        {
                            <a href="@Url.Action("BlockArticle", "Admin", new { id = item.Id })" title="@Resources.Global.Block" style="border: 1px solid grey;" class="block-link btn btn-warning btn-sm" data_id=@item.Id>
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("UnBlockArticle", "Admin", new { id = item.Id })" title="@Resources.Global.UnBlock" style="border: 1px solid grey;" class="Unblock-link btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </a>
                        }

                    </td>
                </tr>
            }
        </tbody>

    </table>
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- modal images placeholder-->
<div id='myModalImages' class='modal fade in'>
    <div class="modal-dialog" style="width:75%; height: 75%;  padding: 0;">
        <div class="modal-content" style=" height: auto; min-height: 100%; border-radius: 0;">
            <div id='myModalImagesContent'></div>
        </div>
    </div>
</div>



@*<div id="myPartialView">
        @{Html.RenderPartial("/Views/Shared/ArticlesSharedViews/_GetItem.cshtml", Model);}
    </div>*@


<!-- PopUp divs -->
@Html.Partial("~/Views/Shared/_popUpShared.cshtml")

@Scripts.Render("~/scripts/Json Scripts/articleJson.js")



@*<script src="~/Scripts/Json Scripts/articleJson.js"></script>*@


<script src="~/Scripts/Json Scripts/artImgJason.js"></script>

<script src="~/Scripts/Json Scripts/ImagesListJason.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="~/Scripts/block-unblock.js"></script>
<script src="~/Scripts/datatableLib/datatables.js"></script> @*დამატებულია lengthMenu : 5, 15,20*@
<script src="~/Scripts/datatableLib/DataTables-1.10.18/js/dataTables.semanticui.min.js"></script>

<script src="~/Scripts/multiCheckDelete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

<script>

    function CallChangefunc(Id) {
         $.ajax({
             url: "@Url.Action("SortArticlesByCategory", "Admin")",
             data: { Id: Id },
            type: "Get",
            dataType: "html",
             success: function (data) {
                 console.log(data);
                //Whatever result you have got from your controller with html partial view replace with a specific html.
                 $("#table").html( data ); // HTML DOM replace
            }
        });
    }

</script>


