@model HowToWebApplication.Models.ArticlesCustomClass

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <style>
        #PhotoId {
            background-color: #2e6da4;
            border-color: #2e6da4;
            color: white;
        }


        .long-textbox {
            max-width: none;
        }
    </style>
</head>





@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>articles</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control long-textbox" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Content, htmlAttributes: new { @class = "form-control long-textbox ckeditor", @rows = 10 })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.UsersId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UsersId", ViewBag.UserId as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UsersId, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.CategoriesList, "CategoriesList", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(M => M.CategoriesList, new MultiSelectList(ViewBag.Categories, "Id", "name", Model.CategoriesList), new { @class = "form-control select-multiple Categories", multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.CategoriesList, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("მონიშნეთ თუ მოთხოვნის დამატება ან ცვლილება გსურთ", htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.CheckBox("checkbox", false, new { id = "chkDestination" })

    </div>

    <div class="form-group" id="reqbox">
        @Html.LabelFor(model => model.RequestsList, "RequestsList", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(M => M.RequestsList, new MultiSelectList(ViewBag.Requests, "Id", "number", Model.RequestsList), new { @class = "form-control select-multiple request", multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.RequestsList, "", new { @class = "text-danger" })
        </div>
    </div>
    <div style="color:red">@ViewBag.Error</div>

    <div class="form-group">
        @Html.Label("Images", htmlAttributes: new { @class = "control-label col-md-2" })
        <div id="pics">
            @if (ViewBag.ImagesCount != 0)
            {
                foreach (var item in ViewBag.Images)
                {
                    <div class="img" style="position:relative; min-width: 230px; min-height: 230px; padding: 13px; display: inline-block; ">
                        <img class="imgClass" id="imgId"  src="@Url.Content(item.url)" style="width:200px" ; />
                        <button class="btn btn-default" value="@item.Id" id="PhotoId" style=" position: absolute; margin:0; top:0px; right: 0px; ">X</button>
                        <input type="radio" class="radioButton" id="@item.Id" name="Primary" value="@item.Id">
                    </div>
                }
            }
            else
            {
                <div id="UploadImg" class="col-md-10">
                    <div><input type="file" class="btn btn-primary" name="images" multiple></div>
                </div>

            }
        </div>
    </div>
    <div class="form-group">
        @Html.Label(" Main Image", htmlAttributes: new { @class = "control-label col-md-2" })
        <div id="main-pic">
            @{var counter = 0;}
            @if (ViewBag.ImagesCount != 0)
            {
                foreach (var item in ViewBag.Images)
                {
                    if (item.isMain == true)
                    {
                        counter++;
                        <div class="main-img" id="MainImgId " style="position:relative; min-width: 230px; min-height: 230px; padding: 13px; display: inline-block; ">
                            <img class="MainImgClass" src="@Url.Content(item.url)" style="width:200px" ; />
                        </div>
                    }
                }
                if (counter == 0)
                {
                    <p>  მთავარი სურათი არაა დამატებული </p>
                }
            }
            else 
            {
                <p>  მთავარი სურათი არაა დამატებული </p>
            }
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default submit" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "ArticlesList")
    </div>

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".request").select2({
                placeholder: "please select categories",
                maximumSelectionSize: 10,
                width: 300

            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".Categories").select2({
                placeholder: "please select categories",
                maximumSelectionSize: 10,
                width: 300

            });
        });
    </script>

    <script type="text/javascript">
        $(document).on("click", "#PhotoId", function () {
            var primaryValue = $(this).val();
            if (confirm('Are you sure?')){
                $.ajax({
                    type: 'POST',
                    data: { 'primary': primaryValue },
                    url: '@Url.Action("DeleteImages", "Admin", new{ id = Model.Id })',
                    context:this,
                    success: function () {
                        $('.img').replaceWith($('#UploadImg'));
                        $("#pics").load(location.href + " #pics");
                        $("#main-pic").load(location.href + " #main-pic");
                            }
                    });
            }
            return false;
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#reqbox').hide("fast");
            $('#chkDestination').click(function () {
                if (!this.checked)
                    $('#reqbox').hide("fast");
                else
                    $('#reqbox').show("fast");
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.submit').click(function () {
                if ($.trim($('.Categories').val()) == '') {
                    alert('Category Input can not be left blank');
                    return false;
                }
                return true;
            });
        });
    </script>

    <!--script for Main Image-->
    <script>
        $(document).ready(function () {
            if (localStorage.selected) {
                $("#" + localStorage.selected).attr('checked', true);
            }
            $('.radioButton').click(function () {
                localStorage.setItem("selected", this.id);

            });
        });
    </script>


    <script type="text/javascript">
    $(document).on("click", ".radioButton", function () {
        var primaryValue = $(this).val();
            if (confirm('Are you sure?')){
                $.ajax({
                    type: 'POST',
                    data: {'primary': primaryValue },
                    url: '@Url.Action("EditMainImage", "Admin", new { id = Model.Id})',
                    context:this,
                    success: function () {
                        $("#main-pic").load(location.href + " #main-pic");
                        }
                });
            }
        });
    </script>

