@using HowToWebApplication.Helpers;

@{
    ViewBag.Title = "Home Page";
}



<style>
    #HelloPic {
        margin-top: 60px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>

<img id="HelloPic" src="~/images/howto.jpg" alt="HowTo" class="img-responsive center-block"/>


@*@btnHelper("მომხმარებლები", "UserList", "Admin")

    @btnHelper("კონტაქტი და ჩვენს შესახებ", "Index", "Admin")

    @btnHelper("კატეგორიები", "CategoriesList", "Admin")

    @btnHelper("სტატიები", "ArticlesList", "Admin")

    @btnHelper("მოთხოვნები", "RequestsList", "Admin")

    <br />
    <br />

    @if (LoginHelper.IsLoggedIn())
    {

        <button class="btn btn-success">
            @Html.ActionLink("მომხმარებლის სტატიები", "ArticlesList", "Users", new { id = LoginHelper.CurrentUser().Id }, null)
        </button>
        <br />
        <br />
        <button class="btn btn-success">
            @Html.ActionLink("მომხმარებლის მოთხოვნები", "RequestsList", "Users", new { id = LoginHelper.CurrentUser().Id },null)
        </button>
    }




    @helper btnHelper(string linkName, string actionName, string controllerName)
    {
        <br />
        <br />
        <button class="btn btn-success">
            @Html.ActionLink(linkName, actionName, controllerName, null, new { @style = "color:white" })
        </button>
    }*@
