@model IEnumerable<HowToWebApplication.Models.users>

@{
    ViewBag.Title = "UserList";
}

<h4>User List</h4>

<p>
    @Html.ActionLink("Create New", "CreateUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.registerDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usersCategories.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.registerDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usersCategories.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
            @Html.ActionLink("Details", "UserDetails", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id }) |
            @Html.ActionLink("FullDelete", "fullDeleteUser", new { id = item.Id })

        </td>
    </tr>
}

</table>
