@model HowToWebApplication.Models.users

@{
    ViewBag.Title = "UserDetails";
}

<h4>User Details</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.registerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registerDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usersCategories.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usersCategories.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditUser","Admin", new { id = Model.Id }, null) |
    @Html.ActionLink("Back to List", "Index", "Admin", new { id = Model.Id }, null)
</p>
