@model HowToWebApplication.Models.ArticlesCustomClass

<div class="form-group">
    @Html.LabelFor(model => model.Title, @Resources.Global.Title, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control long-textbox required" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Content, @Resources.Global.Content, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.Content, htmlAttributes: new { @class = "form-control long-textbox ckeditor required", @rows = 10 })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CategoriesList, @Resources.Global.Categories, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.ListBoxFor(M => M.CategoriesList, new MultiSelectList(Model.Categories, "Id", "name"), new { @class = "form-control select-multiple Categories required", multiple = "multiple" })
        @Html.ValidationMessageFor(model => model.CategoriesList, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.Label(@Resources.Global.AddRequests, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.CheckBox("checkbox", false, new { id = "chkDestination", style = "margin: 25px 15px 0;" })
</div>
<div class="form-group" id="reqbox">
    @Html.LabelFor(model => model.RequestsList, @Resources.Global.Requests, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.ListBoxFor(M => M.RequestsList, new MultiSelectList(Model.Requests, "Id", "title"), new { @class = "form-control select-multiple request ", multiple = "multiple" })
        @Html.ValidationMessageFor(model => model.RequestsList, "", new { @class = "text-danger" })
    </div>
</div>

<div id="uploader" class="form-group">
    <div class="control-label col-md-2">@Resources.Global.AddImages</div>
    <div class="col-md-10">
        <div><input type="file" id="UploadFile" class="btn btn-primary" name="Images" multiple></div>
    </div>
</div>
   